
  .welcome-text {
    background-color:#6968AA;
    padding:40px;
    text-align: center;
    margin-bottom: 100px;
    max-width: 1000;
  }
  
  .welcome-text h1,
  .welcome-text p {
    color: white;
  }



  #product-grid {
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 3rem;
  }
  
  li {
    list-style: none;
  }
  
  .post-item {
    list-style: none;
    padding: 1rem;
    border-radius: 6px;
    text-align: center;
    background-color: white !important;
    height: 25rem;
    overflow: hidden;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
  }
  
  .blog-post_img {
    margin-bottom: 0;
  }
  
  .img {
    width: 35rem;
    height: 40rem;
    object-fit: cover;
    margin-bottom: 0;
  }
  
  @media screen and (max-width: 768px) {
    #product-grid {
      grid-template-columns: 1fr;
      justify-items: center;
      margin-left: 1fr;
      margin-right: 1fr;
    }
  
    .img {
      width: 100%;
      height: auto;
    }
  }
  






  